### Integrantes

*   Marcos Gutierrez
*   Fernando Hengstenberg
*   Raúl Monzon
*   David Valenzuela

# HOJA DE TRABAJO No. 7

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### Datos de Entrenamientos

IMPORTAMOS LOS DATOS PARA VISUZALICIÓN DE LOS DATOS

In [0]:
data_train = pd.read_csv('train.csv')
print("Shape de datos completos: ", data_train.shape)

Shape de datos completos:  (1460, 81)

In [0]:
data_train.head(5)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

HACEMOS LA DIVISION DE LOS DATOS, TOMAMOS UNICAMENTE LOS DATOS NUMERICOS QUE SE ENCUENTREN EN LOS DATOS

In [0]:
data_train = data_train.select_dtypes(exclude=['object'])
print("Shape de datos completos: ", data_train.shape)

Shape de datos completos:  (1460, 38)

EVITAMOS LAS CASILLAS QUE SE ENCUENTREN VACIAS

In [0]:
#drop ID de las columnas
data_train.drop('Id',axis = 1, inplace = True)
data_train.fillna(0,inplace=True)

In [0]:
#Datos que contiene las redes neuronales
data_train.columns

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [0]:
data_train.head(5)

   MSSubClass  LotFrontage  LotArea  ...  MoSold  YrSold  SalePrice
0          60         65.0     8450  ...       2    2008     208500
1          20         80.0     9600  ...       5    2007     181500
2          60         68.0    11250  ...       9    2008     223500
3          70         60.0     9550  ...       2    2006     140000
4          60         84.0    14260  ...      12    2008     250000

[5 rows x 37 columns]

VAMOS A NORMALIZAR LOS DATOS DE ENTRENAMIENTOS

In [0]:
from sklearn.preprocessing import MinMaxScaler

In [0]:
#Controlamos las entradas y salidas de los datos de entrenamiento
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_train = scaler.fit_transform(data_train)

In [0]:
multiplied_by = scaler.scale_[13]
added = scaler.min_[13]

JUNTAMOS LOS DATOS A UN DATA PARA VISUALIZACION DE LOS DATOS

In [0]:
scaled_train_df = pd.DataFrame(scaled_train, columns=data_train.columns.values)

In [0]:
#Datos ya normalizados
scaled_train_df.head()

   MSSubClass  LotFrontage   LotArea  ...    MoSold  YrSold  SalePrice
0    0.235294     0.207668  0.033420  ...  0.090909    0.50   0.241078
1    0.000000     0.255591  0.038795  ...  0.363636    0.25   0.203583
2    0.235294     0.217252  0.046507  ...  0.727273    0.50   0.261908
3    0.294118     0.191693  0.038561  ...  0.090909    0.00   0.145952
4    0.235294     0.268371  0.060576  ...  1.000000    0.50   0.298709

[5 rows x 37 columns]

In [0]:
#columnas de entrenamiento
col_train = list(data_train.columns)
#columnas de entrenamiento sin la variable respuesta
col_train_clear = list(data_train.columns)
col_train_clear.remove('SalePrice')

In [0]:
COLUMNS = col_train
FEATURES = col_train_clear
LABEL = 'SalePrice'

PREPARAMOS LOS DATOS, TOMANDO EN CUENTA LOS DATOS QUE ESTAN NORMALIZADOS

In [0]:
train_set = scaled_train_df[COLUMNS]
prediction_set = scaled_train_df.SalePrice

In [0]:
from sklearn.model_selection import train_test_split

OBTENEMOS LOS DATOS, TOMANDO DE REFERENCIA LOS DATOS DE ENTRENAMIENTO

In [0]:
X_train, X_test, y_train, y_test = train_test_split(train_set[FEATURES] , prediction_set, test_size=0.33, random_state=42)
y_train = pd.DataFrame(y_train, columns=[LABEL])
train_set = pd.DataFrame(X_train, columns=FEATURES).merge(y_train, left_index = True, right_index = True)
train_set.head()

      MSSubClass  LotFrontage   LotArea  ...    MoSold  YrSold  SalePrice
615     0.382353     0.255591  0.035056  ...  0.363636    1.00   0.142480
613     0.000000     0.223642  0.033195  ...  1.000000    0.25   0.155673
1303    0.000000     0.233227  0.034532  ...  0.272727    0.00   0.273712
486     0.000000     0.252396  0.042015  ...  0.454545    0.25   0.168171
561     0.000000     0.246006  0.040711  ...  0.272727    0.00   0.187613

[5 rows x 37 columns]

In [0]:
training_sub = train_set[col_train]

In [0]:
y_test = pd.DataFrame(y_test, columns = [LABEL])
testing_set = pd.DataFrame(X_test, columns = FEATURES).merge(y_test, left_index = True, right_index = True)
testing_set.head()

      MSSubClass  LotFrontage   LotArea  ...    MoSold  YrSold  SalePrice
892     0.000000     0.223642  0.033252  ...  0.090909    0.00   0.166088
1105    0.235294     0.313099  0.051209  ...  0.272727    1.00   0.402861
413     0.058824     0.178914  0.035804  ...  0.181818    1.00   0.111235
522     0.176471     0.159744  0.017294  ...  0.818182    0.00   0.172337
1036    0.000000     0.284345  0.054210  ...  0.727273    0.75   0.389668

[5 rows x 37 columns]